:root {
    --primary-color: #8cced3;
    --secondary-color: #024e76;
    --tertiary-color: #2e323a;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    background-size: cover;
    background-position: auto;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-size: 36px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    margin: 15px 0 0 0;
    padding: 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 2vw;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    text-decoration-line: underline;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero {
    display: flex;
    height: 150px;
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero-cta {
    padding-right: 50px;
}

.hero-cta h2 {
    justify-content: center;
    font-style: italic;
    font-size: 20px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.profile {
    display: flex;
    height: inherit;
    margin-left: 100px;
}

.about-me-title {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    color: var(--secondary-color);
    border-right: 3px solid;
    padding-right: 10px;
    padding-bottom: 20px;
}

.about-me-text {
    padding-left: 30px;
    
}

.projects {
    display: flex;
    height: inherit;
    margin-left: 100px;
}

.work-title {
    justify-content: flex-start; 
    font-size: 36px;
    color: var(--secondary-color);
    border-right: 3px solid;
    padding-right: 10px;
    padding-bottom: 20px;
}

.project-images {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.image1 {  
    background-image: url("../images/Travelot-Stock-Img-2.jpg");
    border: 5px solid var(--primary-color);
    height: 150px;
    width: 335px;
    margin: 10px;
}

.project1-title {
    height: fit-content;
    width: fit-content;
    background-color: var(--primary-color);
    align-content:center;
}

.image2 {  
    background-image: url("../images/02-portfolio-1.jpg");
    border: 5px solid var(--primary-color);
    height: 150px;
    width: 335px;
    margin: 10px;
}

.project2-title {
    height: fit-content;
    width: fit-content;
    background-color: var(--primary-color);
    align-content:center;
}


.image3 {  
    background-image: url("../images/02-portfolio-2.jpg");
    border: 5px solid var(--primary-color);
    height: 150px;
    width: 335px;
    margin: 10px;
}

.project3-title {
    height: fit-content;
    width: fit-content;
    background-color: var(--primary-color);
    align-content:center;
}

.image4 {  
    background-image: url("../images/02-portfolio-3.jpg");
    border: 5px solid var(--primary-color);
    height: 150px;
    width: 335px;
    margin: 10px;
}

.project4-title {
    height: fit-content;
    width: fit-content;
    background-color: var(--primary-color);
    align-content:center;
}

.image5 {  
    background-image: url("../images/02-run-buddy.jpg");
    border: 5px solid var(--primary-color);
    height: 150px;
    width: 335px;
    margin: 10px;
}

.project5-title {
    height: fit-content;
    width: fit-content;
    background-color: var(--primary-color);
    align-content:center;
}


.contact-info {
    display: flex;
    height: inherit;
    margin-left: 100px;
}

.contact-me-title {
    justify-content: flex-start;
    font-size: 36px;
    color: var(--secondary-color);
    border-right: 3px solid;
    padding-right: 10px;
    padding-bottom: 20px;
}

.my-links {
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 10px 15px;
    font-size: 2vw;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    text-decoration-line: underline;
}
  
/* Anything under 1024px */
@media screen and (max-width: 1023px) {
    .image1 {  
        background-image: url("../images/02-portfolio-4.jpg");
        border: 5px solid var(--primary-color);
        height: 150px;
        width: 335px;
        margin: 10px;
    }
}
/* Anything over 1420px */
@media screen and (min-width: 1420px) {
    .image1 {  
        background-image: url("../images/02-portfolio-4.jpg");
        border: 5px solid var(--primary-color);
        height: 300px;
        width: 800px;
        margin: 10px;
    }
    
    .project1-title {
        height: fit-content;
        width: fit-content;
        background-color: var(--primary-color);
        align-content:center;
    }
    
    .image2 {  
        background-image: url("../images/02-portfolio-1.jpg");
        border: 5px solid var(--primary-color);
        height: 150px;
        width: 385px;
        margin: 10px;
    }
    
    .project2-title {
        height: fit-content;
        width: fit-content;
        background-color: var(--primary-color);
        align-content:center;
    }
    
    
    .image3 {  
        background-image: url("../images/02-portfolio-2.jpg");
        border: 5px solid var(--primary-color);
        height: 150px;
        width: 385px;
        margin: 10px;
    }
    
    .project3-title {
        height: fit-content;
        width: fit-content;
        background-color: var(--primary-color);
        align-content:center;
    }
    
    .image4 {  
        background-image: url("../images/02-portfolio-3.jpg");
        border: 5px solid var(--primary-color);
        height: 150px;
        width: 385px;
        margin: 10px;
    }
    
    .project4-title {
        height: fit-content;
        width: fit-content;
        background-color: var(--primary-color);
        align-content:center;
    }
    
    .image5 {  
        background-image: url("../images/02-run-buddy.jpg");
        border: 5px solid var(--primary-color);
        height: 150px;
        width: 385px;
        margin: 10px;
    }
    
    .project5-title {
        height: fit-content;
        width: fit-content;
        background-color: var(--primary-color);
        align-content:center;
    }
}